Repository magento/security-package, pull requests merged in 2020-05, with the labels that each got.

#150 security-package/issues/140: Link "Read instructions on how to generate signature" in Store-Configuration is incorrect.
  Securitytxt/Model/Config/Signature.php
  Securitytxt/etc/di.xml
  Securitytxt/i18n/en_US.csv
Labels: Component: securitytxt, Progress: review

#232 2fa static fix
  TwoFactorAuth/Model/AdminAccessTokenService.php
Labels: Progress: review

#226 magento/security-package#127: Configuration cannot be saved in scope that is different from Default Config
  Securitytxt/Model/Config/Backend/SecureUrl.php
  Securitytxt/Model/Config/Backend/Validate.php
  Securitytxt/etc/adminhtml/system.xml
Labels: Component: securitytxt, Progress: review

#172 security-package/issues/171: Default(pre-filled) value should be added to the "Policy" in Admin Panel for Security.txt settings
  Securitytxt/etc/adminhtml/system.xml
  Securitytxt/etc/config.xml
  Securitytxt/i18n/en_US.csv
Labels: Component: Admin, Component: securitytxt, Progress: approved

#198 security-package/issues/188: Added Notice message to system.xml.
  ReCaptchaAdminUi/Block/Adminhtml/System/Config/Form/Field/Notice.php
  ReCaptchaAdminUi/composer.json
  ReCaptchaAdminUi/etc/adminhtml/system.xml
  ReCaptchaAdminUi/view/adminhtml/web/css/source/_module.less
  ReCaptchaUser/etc/adminhtml/system.xml
Labels: Component: Admin, Component: Google reCAPTCHA, Progress: review
