Repository magento/security-package, pull requests merged in 2020-04, with the labels that each got.

#89 security-package/issues/101: Add ReCaptchaMigration module
  ReCaptchaMigration/README.md
  ReCaptchaMigration/Setup/Patch/Data/MigrateConfigToRecaptchaModules.php
  ReCaptchaMigration/composer.json
  ReCaptchaMigration/etc/module.xml
  ReCaptchaMigration/registration.php
  _metapackage/composer.json
Labels: Component: Google reCAPTCHA, Progress: review

#178 Fix #177 Update README.md for Security.txt module
  Securitytxt/README.md
Labels: Component: securitytxt

#190 security-package/issues/189: Updated CSS styles.
  ReCaptchaUser/view/adminhtml/web/css/recaptcha.less
Labels: Component: Admin, Component: Google reCAPTCHA, Progress: review

#175 security-package: Added try/catch to Magento\ReCaptchaUi\Model\RequesttHandler
  ReCaptchaContact/Test/Integration/ContactFormTest.php
  ReCaptchaCustomer/Observer/AjaxLoginObserver.php
  ReCaptchaCustomer/Test/Integration/AjaxLoginFormTest.php
  ReCaptchaCustomer/Test/Integration/CreateCustomerFormTest.php
  ReCaptchaCustomer/Test/Integration/ForgotPasswordFormTest.php
  ReCaptchaCustomer/Test/Integration/LoginFromTest.php
  ReCaptchaNewsletter/Test/Integration/NewsletterFormTest.php
  ReCaptchaPaypal/Observer/PayPalObserver.php
  ReCaptchaReview/Test/Integration/ReviewFormTest.php
  ReCaptchaSendFriend/Test/Integration/SendFriendFormTest.php
  ReCaptchaUi/Model/RequestHandler.php
  ReCaptchaUser/Observer/LoginObserver.php
  ReCaptchaUser/Test/Integration/ForgotPasswordFormTest.php
  ReCaptchaUser/Test/Integration/LoginFormTest.php
Labels: Component: Admin, Component: Google reCAPTCHA, Progress: review

#191 Recaptcha initialization
  ReCaptchaAdminUi/view/adminhtml/layout/recaptcha.xml
  ReCaptchaCustomer/Model/AjaxLogin/ErrorProcessor.php
  ReCaptchaCustomer/Observer/AjaxLoginObserver.php
  ReCaptchaFrontendUi/view/frontend/web/js/reCaptcha.js
  ReCaptchaFrontendUi/view/frontend/web/js/reCaptchaScriptLoader.js
  ReCaptchaUser/view/adminhtml/templates/recaptcha.phtml
  ReCaptchaVersion2Checkbox/Model/Adminhtml/UiConfigProvider.php
  ReCaptchaVersion2Checkbox/Model/Adminhtml/ValidationConfigProvider.php
  ReCaptchaVersion2Checkbox/Model/Frontend/UiConfigProvider.php
  ReCaptchaVersion2Checkbox/Model/Frontend/ValidationConfigProvider.php
  ReCaptchaVersion2Invisible/Model/Adminhtml/UiConfigProvider.php
  ReCaptchaVersion2Invisible/Model/Adminhtml/ValidationConfigProvider.php
  ReCaptchaVersion2Invisible/Model/Frontend/UiConfigProvider.php
  ReCaptchaVersion2Invisible/Model/Frontend/ValidationConfigProvider.php
  ReCaptchaVersion3Invisible/Model/Adminhtml/UiConfigProvider.php
  ReCaptchaVersion3Invisible/Model/Adminhtml/ValidationConfigProvider.php
  ReCaptchaVersion3Invisible/Model/Frontend/UiConfigProvider.php
  ReCaptchaVersion3Invisible/Model/Frontend/ValidationConfigProvider.php
Labels: Component: Google reCAPTCHA, Progress: review
