Repository magento/security-package, pull requests merged in 2020-03, with the labels that each got.

#142 security-package/issues/141: Remove wrong comment for "Invisible Badge Position" field.
  ReCaptchaVersion3Invisible/etc/adminhtml/system.xml
Labels: Component: Google reCAPTCHA, Progress: review

#147 security-package/issues/143: Update for console commands security:recaptcha:disable-for-user-login
  ReCaptchaUser/Model/DisableReCaptchaForUserForgotPassword.php
  ReCaptchaUser/Model/DisableReCaptchaForUserLogin.php
  ReCaptchaUser/README.md
Labels: Component: Admin, Component: Console, Component: Google reCAPTCHA, Progress: review

#151 Metapackage update.
  Notifier/composer.json
  NotifierAdminUi/composer.json
  NotifierApi/composer.json
  NotifierAsync/composer.json
  NotifierAsyncAdminUi/composer.json
  NotifierAsyncAmqp/composer.json
  NotifierEmailAdapter/composer.json
  NotifierEmailAdapterAdminUi/composer.json
  NotifierEvent/composer.json
  NotifierEventAdminUi/composer.json
  NotifierEventApi/composer.json
  NotifierSecurity/composer.json
  NotifierSecurityAdminUi/composer.json
  NotifierSlackAdapter/composer.json
  NotifierSlackAdapterAdminUi/composer.json
  NotifierTelegramAdapter/composer.json
  NotifierTelegramAdapterAdminUi/composer.json
  NotifierTemplate/composer.json
  NotifierTemplateAdminUi/composer.json
  NotifierTemplateApi/composer.json
  ReCaptchaAdminUi/composer.json
  ReCaptchaCheckout/composer.json
  ReCaptchaContact/composer.json
  ReCaptchaCustomer/composer.json
  ReCaptchaFrontendUi/composer.json
  ReCaptchaNewsletter/composer.json
  ReCaptchaReview/composer.json
  ReCaptchaSendFriend/composer.json
  ReCaptchaUi/composer.json
  ReCaptchaUser/composer.json
  ReCaptchaValidation/composer.json
  ReCaptchaValidationApi/composer.json
  ReCaptchaVersion2Checkbox/composer.json
  ReCaptchaVersion2Invisible/composer.json
  ReCaptchaVersion3Invisible/composer.json
  Securitytxt/composer.json
  TwoFactorAuth/composer.json
  _metapackage/composer.json
Labels: Component: 2FA, Component: Google reCAPTCHA, Component: Notifier, Component: securitytxt, Progress: review

#133 security-package/issues/132: $validationErrors is undefined in \Magento\ReCaptchaValidation\Model\Validator
  ReCaptchaValidation/Model/Validator.php
Labels: Component: Google reCAPTCHA, Progress: review

#146 Refactoring.
  ReCaptchaCustomer/Model/AjaxLogin/CaptchaResponseResolver.php
  ReCaptchaValidation/Model/Validator.php
  ReCaptchaValidationApi/Model/ErrorMessagesProvider.php
  ReCaptchaValidationApi/etc/di.xml
Labels: Component: Google reCAPTCHA, Progress: review

#166 security-package/pull/146: Refactoring after Code Review
  ReCaptchaCustomer/Model/AjaxLogin/CaptchaResponseResolver.php
  ReCaptchaValidation/Model/Validator.php
Labels: Component: Google reCAPTCHA

#107 security-package/issues/105: Cover ReCaptchaContact module with integration tests.
  ReCaptchaContact/Test/Integration/ContactFormTest.php
  ReCaptchaFrontendUi/view/frontend/requirejs-config.js
  ReCaptchaUser/Test/Integration/ForgotPasswordFormTest.php
  ReCaptchaUser/Test/Integration/LoginFormTest.php
Labels: Component: Google reCAPTCHA

#149 security-package/issues/148: "Language code" does not work for reCAPTCHA v2 ("I am not a robot")
  ReCaptchaFrontendUi/view/frontend/web/js/reCaptcha.js
  ReCaptchaVersion2Checkbox/Model/Adminhtml/UiConfigProvider.php
  ReCaptchaVersion2Checkbox/Model/Frontend/UiConfigProvider.php
  ReCaptchaVersion2Checkbox/etc/adminhtml/system.xml
  ReCaptchaVersion2Invisible/Model/Adminhtml/UiConfigProvider.php
  ReCaptchaVersion2Invisible/Model/Frontend/UiConfigProvider.php
  ReCaptchaVersion2Invisible/etc/adminhtml/system.xml
  ReCaptchaVersion2Invisible/etc/config.xml
  ReCaptchaVersion2Invisible/etc/di.xml
  ReCaptchaVersion3Invisible/Model/Adminhtml/UiConfigProvider.php
  ReCaptchaVersion3Invisible/Model/Frontend/UiConfigProvider.php
  ReCaptchaVersion3Invisible/etc/adminhtml/system.xml
  ReCaptchaVersion3Invisible/etc/config.xml
  ReCaptchaVersion3Invisible/etc/di.xml
Labels: Component: Admin, Component: Google reCAPTCHA, Progress: review

#152 security-package: Added available to edit setting for Store View (Failure message, Language Code).
  ReCaptchaAdminUi/etc/adminhtml/system.xml
  ReCaptchaVersion2Checkbox/etc/adminhtml/system.xml
  ReCaptchaVersion2Invisible/etc/adminhtml/system.xml
  ReCaptchaVersion3Invisible/etc/adminhtml/system.xml
Labels: Component: Admin, Component: Google reCAPTCHA, Progress: review
